<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.umich.gridwatch"
    android:versionCode="10"
    android:versionName="2.0" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- new permissions -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <permission
        android:name="com.umich.gridwatch.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.umich.gridwatch.permission.C2D_MESSAGE" />

    <application
        android:name=".Main"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:process="com.umich.gridwatch.GridWatchProcess"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Maps.MapFragment"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".SettingsPreferenceActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LogViewActivity"
            android:label="@string/title_log_view_activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Tutorial.TutorialActivity"
            android:label="Welcome to GridWatch!"
            android:screenOrientation="portrait"
            android:theme="@style/TutorialTheme" >
        </activity>

        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance" />


        <activity
            android:name=".Chat.activity.MainChatActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        <activity
            android:name=".Chat.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".Chat.activity.PreLoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".Chat.activity.CreateCategory"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Chat.activity.ChatRoomActivity"
            android:label="@string/title_activity_chat_room_discussion"
            android:parentActivityName=".Chat.activity.MainChatActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Chat.activity.MainChatActivity" />
        </activity>


        <service android:name=".Sensors.AccelerometerService" />
        <service android:name=".Sensors.MicrophoneService" />
        <service android:name=".Sensors.FFTService" />
        <service android:name=".Sensors.GPSService" />
        <service android:name=".Sensors.CellTowersService" />
        <service android:name=".Sensors.SSIDService" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.umich.gridwatch" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GCM.GCMListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".GCM.GridWatchIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".GCM.GCMIntentService"
            android:exported="false" >
        </service>
        <!-- copied from google above -->

        <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

        <receiver android:name=".Receivers.WatchDogReceiver" />
        <receiver
            android:name=".Receivers.BootReceiver"
            android:exported="false"
            android:label="BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GridWatchService"
            android:exported="false"
            android:process="com.umich.gridwatch.GridWatchProcess" >
        </service>
        <service
            android:name=".GridWatchDeleteService"
            android:exported="false"
            android:process="com.umich.gridwatch.GridWatchDeleteProcess" >
        </service>


    </application>

</manifest>
